<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/static/bulma.min.css"  rel="stylesheet">

        <title>crea exámenes</title>
    </head>

    <body>
        <section class="hero">
            <div class="hero-body">
                <p class="title">
                    Crea exámenes
                </p>
                <p class="subtitle">
                    Herramienta para profesores partiendo de la herramienta de <a href="https://twitter.com/javierfpanadero">Javier Fernández Panadero</a>. Puedes escribir los datos para tu examen y obtener un examen aleatorio en varios formatos.
                </p>
                <p class="subtitle">
                    Creado por <a href="https://twitter.com/episuarez">episuarez</a>. ¡Espero que os sea útil!
                </p>

                <div>
                    <p class="mb-2">La primera respuesta siempre debe de ser la correcta. Y entre cada pregunta un salto de linea.</p>

                    <p>Ejemplo de como escribir un examen:</p>

                    <pre>
Tumba de Grant#¿Quién está enterrado en la tumba de Grant en la Ciudad de Nueva York?
Grant
Nadie#Esto fue cierto por 12 años, pero los restos de Grant se sepultaron en la tumba en 1897
Napoleón#Él fue enterrado en Francia
Churchill#Él fue enterrado en Inglaterra
Madre Teresa#Ella fue enterrada en la India</pre>

                    <!--<p class="mb-2 mt-2">Si quieres añadir una imagen en una respuesta el formato es:</p>
                    
                    <pre>Napoleón#Él fue enterrado en Francia#https://estaticos.muyhistoria.es/media/cache/1140x_thumb/uploads/images/pyr/54941b888c770c961fd6e002/napoleon.jpg</pre>-->
                </div>
            </div>
        </section>

        <section class="container">
            <div class="notification is-danger is-hidden" id="aviso"></div>

            <div class="buttons">
                <button id="obtener_examen_texto" class="button is-primary">Obtener examen en texto</button>
                <button id="obtener_examen_gift" class="button is-primary">Obtener examen en GIFT</button>
            </div>

            <h2 class="subtitle">Escribe tu examen</h2>
            <textarea id="datos" class="textarea is-primary" rows="15"></textarea>

            <div class="is-hidden mb-5" id="GrupoResultado">
                <h2 class="subtitle mt-4">Resultado</h2>
                <textarea id="resultado" class="textarea is-info " rows="15"></textarea>
            </div>
        </section>

        <script defer data-domain="crea-examenes.vercel.app" src="https://plausible.io/js/plausible.js"></script>

        <script>
            document.getElementById("obtener_examen_texto").addEventListener("click", function() {
                var datos = document.getElementById("datos").value;
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/obtener_examen/texto");
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onload = function() {
                    if (xhr.status === 200) {
                        document.getElementById("resultado").value = xhr.responseText;
                        document.getElementById("GrupoResultado").classList.remove("is-hidden");
                    } else {
                        document.getElementById("aviso").innerText = xhr.responseText;
                        document.getElementById("aviso").classList.remove("is-hidden");
                    }
                };
                xhr.send(JSON.stringify({
                    datos: datos
                }));
            });

            document.getElementById("obtener_examen_gift").addEventListener("click", function() {
                var datos = document.getElementById("datos").value;
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/obtener_examen/gift");
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onload = function() {
                    if (xhr.status === 200) {
                        document.getElementById("resultado").value = xhr.responseText;
                        document.getElementById("GrupoResultado").classList.remove("is-hidden");
                    } else {
                        document.getElementById("aviso").innerText = xhr.responseText;
                        document.getElementById("aviso").classList.remove("is-hidden");
                    }
                };
                xhr.send(JSON.stringify({
                    datos: datos
                }));
            });
        </script>

        <script type="text/python">
            from browser import document, ajax
            import random
            import string

            def procesar_respuesta(request):
                datos = request.json;
                if datos["status"] != 200:
                    document.getElementById("aviso").innerHTML = datos["error"];
                    document.getElementById("aviso").classList.remove("is-hidden");
                else:
                    document.getElementById("resultado").value = datos["resultado"];
                    document.getElementById("GrupoResultado").classList.remove("is-hidden");

            def obtener_examen_texto(event):
                document.getElementById("aviso").classList.add("is-hidden");

                respuesta = ajax.ajax();
                respuesta.bind("complete", procesar_respuesta);
                respuesta.open("GET", "obtener_examen/texto", True);
                respuesta.set_header("Accept", "application/json; charset=UTF-8");
                respuesta.set_header("Content-Type", "application/json; charset=UTF-8");
                respuesta.send({"datos": document["datos"].value});

            document["obtener_examen_texto"].bind("click", obtener_examen_texto);
            
            class pregunta:
                def __init__(self, pregunta, *respuestas):
                    self.pregunta = pregunta;

                    self.respuesta_correcta = respuestas[0];
                    self.respuestas_incorrectas = respuestas[1:];
                    self.respuestas = respuestas;
                    random.shuffle(respuestas);

                    self.posicion_correcta = string.ascii_lowercase[self.respuestas.index(self.respuesta_correcta)];

                def __repr__(self):
                    return f"{self.__dict__}";

            def obtener_examen():
                datos = document.getElementById("datos").value.split("\n");
                examen = [];

                try:
                    valores = [];                
                    for linea in datos:
                        if linea != "":
                            valores.append(linea);
                        else:
                            examen.append(pregunta(valores[0], *valores[1:]));
                            valores = [];

                    examen.append(pregunta(valores[0], *valores[1:]));     
                except:
                    document.getElementById("aviso").innerHTML = "Error en los datos introducidos.";
                    document.getElementById("aviso").classList.remove("is-hidden");
                
                return examen;

            def generar_examen(event):
                document.getElementById("aviso").classList.add("is-hidden");

                datos = obtener_examen();
                random.shuffle(datos);

                resultado = "";
                for indice, pregunta in enumerate(datos):
                    resultado += f"{indice + 1}. {pregunta.pregunta}\n";
                    for indice_respuesta, respuesta in enumerate(pregunta.respuestas):
                        resultado += f"{string.ascii_lowercase[indice_respuesta]}) {respuesta}\n";
                    resultado += "\n";

                resultado += "Respuestas:\n";
                for indice, pregunta in enumerate(datos):
                    resultado += f"{indice + 1}) {pregunta.posicion_correcta}\n";

                document.getElementById("resultado").value = resultado;

        </script>

    </body>

</html>